@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-dm-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  @apply font-sans;
}

.product-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999;
}

.product-wrap .product-image {
  transform: translateX(-50%);
  position: absolute;
  top: -393px;
  left: 48%;
}

.button-wrap {
  display: flex;
  justify-content: flex-end;
  margin: 100px 0;
  position: relative;
  z-index: 1;
}

.shop-now {
  background-color: #1C1826;
  color: #FFFFFF;
  padding: 15px 30px;
  z-index: 2;
  position: relative;
  text-decoration: none;
  border-radius: 50px;
  font-family: 'Montagu Slab', serif;
  font-weight: 600;
  font-size: 20px;
  display: inline-flex;
  gap: 5px;
  margin-right: -30px;
}

.shop-now span {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 20L17 7' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7 7H17V17' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bg-wrapper {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%) scale(1.5);
  overflow: hidden;
}

.bg-wrapper img {
  will-change: transform;
}

.product-mob {
  display: none;
}

.bottle {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  pointer-events: none;
  opacity: 0;
}
@media (max-width: 1100px) {
  .shop-now {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .button-wrap {
    justify-content: center;
    margin: 0 0 50px 0;
    margin-top: -80px;
  }

  .shop-now {
    padding: 10px 10px 10px 12px;
    font-size: 15px;
    align-items: center;
  }

  .bg-wrapper {
    bottom: 26px;
  }

  .product-mob {
    display: block;
  }

  .product-mob img {
    width: 34%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .bottle {
    display: none;
  }
}